A:link { color : #0088dd; text-decoration: none; cursor : default; }
A:visited {color : #0088dd; text-decoration: none; cursor : default; }
A:hover {color: #0088dd; text-decoration: none; cursor : default; }
A:hover IMG { MARGIN : 1px -1px -1px 1px }
A:active {color: #0088dd; text-decoration: none; cursor : default; }

HR { color: #0053dd;}

body { bgcolor : #0088dd; }